Django>=5.0
Pillow>=10.0.0
pytz
sqlparse
python-dotenv
gunicorn
whitenoise
google-generativeai
PyPDF2
python-docx
pandas
openpyxl
openai
striprtf==0.0.26
boto3
django-storages[s3]
psycopg2-binary
dj-database-url
django-debug-toolbar
django-webpush
pywebpush